{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Admin{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

    <div id="adminIndexContainer">
        <nav>
            <ul>
                <li>
                    <a href="/adminStudentList">Student List</a>
                </li>
                <li>
                    <a href="/adminAttendance">Attendance</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>

        <div id="adminIndexMain">

            <h1>
                (Admin Page)
            </h1>

            <h2>Students</h2>




        </div>

    </div>

{% endblock %}