{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Sitemap page{% endblock %}

{# ------------------------------------------------- #}
{% block sitemapLinkStyle %}current_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

<h1>
    Site Map
</h1>

<ul>
    <li><a href="index.html.twig">Home</a>
    <li><a href="contact.html.twig">Contact us</a>
    <li><a href="sitemap.html.twig">Site Map</a>
    <li><a href="login.html.twig">Login</a>
</ul>

{% endblock %}
