{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Admin{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

    <nav>
        <ul>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </nav>

<h1>
    Student Page
</h1>

{% endblock %}